body{
  background: rgb(0,0,1);
  background: radial-gradient(circle, rgba(0,0,1,0.8412407199207808) 0%, rgba(5,130,122,1) 100%, rgba(187,178,187,0.1829774145986519) 100%, rgba(5,130,122,0.5555264342064952) 100%);
}
input{
  color: black;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper .material-icons{
  font-size: 30px !important;
  padding: 5px;
  /* margin-top: 10px; */
  margin-right: 5px;
}

  /* Signin || SignUp Card and Field----------------------------------------------------------- */
.nav-wrapper a{
  color: whitesmoke !important;
  text-decoration: none;
}
.nav-wrapper ul{
  display: inline-block !important;
}
nav{
  font-family: 'Redressed', cursive;
  font-weight: bold;
}

.brand-logo{
  margin-left: 1rem;
}

.mycard h2{
  font-family: 'Redressed', cursive;
  font-weight: bold;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 350px;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
}



.input-field input:focus{
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}
.input-field input::placeholder{
  color: black !important;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.input-field button{
  font-family: 'Ubuntu', sans-serif;  
  color: black;
  font-weight: bold; 
  text-transform: none;
}
.input-field  h6 a{
  /* color: black !important; */
  text-decoration: none !important;
  
}
/* Signin || SignUp Card and Field----------------------------------------------------------- */

/* ***************** PROFILE **************** ---------------------------- */

.details{
  
  padding: 20px 10px;
  background-color: wheat;
  border-radius: 5px;
}
.info{
  font-family: 'Ubuntu', sans-serif;
}

.gallary {
  border-top: 2px solid black;

  background-color:rgba(255, 255, 255, 0.185);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 6px;
  padding: 20px 10px;

}

.item {
  padding: 1rem;
  width: 30%;
}
/* ***************** PROFILE **************** ------------------------------ */


/* For Home Comp , POST VIEW ---------------------------------- */

/* .item{
  width: 30%;
  
} */
/* .card-image{
  padding: 1rem;
} */

.home-card{
  padding: 1rem;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 700px;
  margin: 25px auto;
  height: max-content;
}
.home-card h5{
  font-family: 'Ubuntu', sans-serif;
}
.home-card a{
  text-decoration: none !important;
  color: black !important;

}
.home .card-content{
  font-family: 'Ubuntu', sans-serif;
  font-weight:normal;
  padding-bottom: 0px !important;
}

.username{
  margin-left: 1rem;
  margin-top: 3px;
}
.deletepost{
  margin-left: 58%;
}
.commentbox input{
  font-weight: lighter;
}

.commentbox input::placeholder{
  color: black !important;
} 

.commentbox{
  display: flex;
}

.commentbox span{
  margin-top: 15px;
  font-size: 2rem;
  margin-left: 5px;
}

/* For Home Comp , POST VIEW ---------------------------------- */

/* create post ----------------------------------------------------------- */

.file-field{
  display: inline-flex;
}

 /* post like effect -------------------------------------------------*/
.card-image{
  padding: 0px 10px !important;
  overflow: hidden !important;
  position: relative !important;
  cursor: pointer !important;
}

.card-image img{
  border-radius: 10px !important;
}

.card-image i {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  color: transparent !important;
  z-index: 99 !important;
  font-size: 100px !important;
  display: none !important;
}

.card-image i.fade-red{
  color: red !important;
  display: block !important;
  transition: 1s;
  font-size: 200px !important;
}

.card-image i.fade-white{
  color: white !important;
  display: block !important;
  transition: 1s;
  font-size: 200px !important;
}
 /* post like effect------------------------------------------------- */


/* *********************** Toast - Alert ********************* */

#toast-container{
  top: 65px !important;
  right: 20px !important;
  left: auto !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold !important;
}


/* logout button */

.logoutbtn{
  margin-right: 1rem;
	cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

/* User profile Component */
.profileloading{
  font-family: 'Ubuntu', sans-serif;  
  color: black;
  font-weight: bold;
}
/* User profile Component */

/* follow button */
.followbtn{
  margin-left: 2rem;
  font-size: 2.5rem;
}


.inp{
  display: none;
}
 /* Search User model ----------------------------------------------- */
.modal {
  background-color: #3e8f75;
  padding: 26px;
  max-height: 74%;
  width: 70%;
  border-radius: 10px;
}
.modal-content{
  padding: 10px !important;  
  background-color: #ddd !important;
  border: none;
}
.modal-content input::placeholder{
  color: #000 !important;
  font-weight: bold;
}

.collection {
  justify-content:center !important;
  margin: 0.5rem 2px 0rem 0 !important;
  font-family: 'Ubuntu', sans-serif !important;

}
.collection-item{
  width : 99%;
}

.model1{
  background-color: blueviolet !important;
}

.collection .collection-item {
  background-color: #212529 !important;
  line-height: 2rem !important;
  padding: 4px 20px !important;
  margin: 10px !important;
  border-radius: 10px;
  
}
/* .collection-item a{
  margin-top: -2px;
  text-decoration: none !important;
  padding-top: 5px;
} */
/* .collection-item p{
  margin-left: 1rem;
  margin-top: -2px;;
  padding-bottom: 2px;
} */

.modelbtn{
  color: #000 !important;
  font-size: 2rem;
  float: right;
  padding-bottom: 1rem;
}
.chatclose{
  color: #000 !important;
  font-size: 2rem;
  float: right;
  /* padding-bottom: 1rem; */
  margin-top: 10px;
  margin-right: 15px;
}
.chatmodalcontent{
  background-color: #ddd0 !important;
}

.collection-item .username{
  font-weight: bold !important;
  font-size: 1.5rem !important;
  text-decoration: none !important;
}

/* Search User modal ----------------------------------------------- */


 /* chat modal --------------------------------------------------- */

 #chats-modal {
  background-color: #3e8f75;
  /* padding: 13px; */
  /* max-height: 74%; */
  padding: 0px !important;
  /* z-index: 1 !important; */
  /* top:-10%; */
  /* min-height: 98vh !important; */
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important  ;
  width: 100% !important;
  border-radius: 10px !important;
}

#chats-modal .modal-content{
  height: 93% !important;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 255, 255, 0.3) !important; 
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background: rgba(0, 255, 255, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 255, 255, 0.5) !important;
}

/* SCROLL BAR */